---
import Layout from '../../layout/Layout.astro';
import { supportedLocales } from '../../../src/consts/locales';
import HeroSection from '@/components/HeroSection/HeroSection.astro';
import AboutSection from '@/components/AboutSection/AboutSection.astro';
import IntersectionObserverComponent from '@/components/IntersectionObserver';
import TechSection from '@/components/TechSection/TechSection.astro';
import ExperienceSection from '@/components/ExperienceSection/ExperienceSection.astro';
import ProjectsSection from '@/components/ProjectsSection/ProjectsSection.astro';
import loadTranslations from '@/lib/loadTranslations';
import Footer from '@/components/Footer/Footer.astro';


export const getStaticPaths = () => {
  const locales = supportedLocales.map((locale) => ({ params: { locale } }));
  return locales;
};

const { locale } = Astro.params;

const t = loadTranslations(locale);

const { metadata, heroSection, aboutSection, techSection, experienceSection, projectsSection, } = t.homePage;
const  footer  = t.footer
---

<Layout description={metadata.description} ogImg={metadata.og.image} title={metadata.title}>
  <div class='flex flex-col gap-8'>
    <HeroSection t={heroSection} />
    <IntersectionObserverComponent animation='fade-in' client:load>
      <AboutSection t={aboutSection} />
    </IntersectionObserverComponent>
    <IntersectionObserverComponent animation='slide-in' client:load>
      <TechSection t={techSection}/>
    </IntersectionObserverComponent>
    <IntersectionObserverComponent animation='fade-in' client:load>
      <ExperienceSection t={experienceSection} />
    </IntersectionObserverComponent>
    <IntersectionObserverComponent animation='slide-in'client:load>
      <ProjectsSection  t={projectsSection}/>
    </IntersectionObserverComponent>
    <IntersectionObserverComponent animation='fade-in'client:load>
      <Footer  t={footer}/>
    </IntersectionObserverComponent>
  </div>

</Layout>
