---
import { Image } from 'astro:assets';
import Logo from '../../assets/logo.webp';
import { ScrollToIdLink } from '../ScrollToIdLink';
import { ContactButton } from './ContactButton';
import { LanguageSelector } from './LanguageSelector';
import { MobileMenu } from './MobileMenu';
import loadTranslations from '@/lib/loadTranslations';

export type TNavLinks = {
  id: string;
  text: string;
};

let { locale } = Astro.params;

if (!locale) {
  locale = 'en';
}

const t = loadTranslations(locale);

const links: TNavLinks[] = [
  { id: 'about', text: t.navBar.about },
  { id: 'experience', text: t.navBar.experience },
  { id: 'projects', text: t.navBar.projects },
];
---

<header id='header' class='z-20 sticky top-0 py-4 w-full left-0 bg-background text-secondary'>
  <div class='items-center flex'>
    <nav class='w-full flex justify-between items-center max-w-8xl mx-auto'>
      <a href={`/${locale}`} class='flex items-center gap-2'>
        <Image src={Logo} alt='logo image' class='w-auto h-14 object-contain' />
      </a>

      <ul class='list-none hidden md:flex flex-row gap-10 text-[18px] font-medium cursor-pointer'>
        {
          links.map(({ id, text }) => (
            <li class='hover:text-white'>
              <ScrollToIdLink id={id} text={text} client:load />
            </li>
          ))
        }
        <li class={`hover:text-white text-[18px] font-medium cursor-pointer  `}>
          <ContactButton t={t.navBar.contact} client:load />
        </li>
        <li>
          <LanguageSelector
            locale={locale}
            client:load
            styles='hover:cursor-pointer hover:text-white'
          />
        </li>
      </ul>
    </nav>
    <MobileMenu links={links} contact={t.navBar.contact} locale={locale} client:load />
  </div>
</header>
