---
import  AstroImage  from '@/components/AstroImage.astro';
import Logo from '../../assets/logo.webp';
import { ScrollToIdLink } from '../ScrollToIdLink';
import { ContactButton } from './ContactButton';
import { LanguageSelector } from './LanguageSelector';
import { MobileMenu } from './MobileMenu';
import type {INavBar  } from "@/interfaces/shared";

interface Props {
  t:INavBar
}

export type TNavLinks = {
  id: string;
  text: string;
};

let { locale } = Astro.params;

if (!locale) {
  locale = 'en';
}

const {t} = Astro.props;

const links: TNavLinks[] = [
  
  { id: 'about', text: t.about },
  { id: 'experience', text: t.experience },
  { id: 'projects', text: t.projects },
];
---

<header id='header' class='z-20 sticky top-0 left-0 right-0 py-4 w-screen px-8 bg-background text-secondary'>
  <div class='items-center flex w-full'>
    <nav class='w-full flex justify-between items-center max-w-8xl'>
      <ScrollToIdLink id={'home'} styles='flex items-center gap-2' client:load>
        <AstroImage src={Logo} alt='logo image' className='w-auto h-14 object-contain' />
      </ScrollToIdLink>

      <ul class='list-none hidden md:flex flex-row gap-10 text-[18px] font-medium cursor-pointer'>
        {
          links.map(({ id, text }) => (
            <li class='hover:text-white'>
              <ScrollToIdLink id={id} client:load >{text}</ScrollToIdLink>  
            </li>
          ))
        }
        <li class={`hover:text-white text-[18px] font-medium cursor-pointer  `}>
          <ContactButton t={t.contact} client:load />
        </li>
        <li>
          <LanguageSelector
            locale={locale}
            client:load
            styles='hover:cursor-pointer hover:text-white'
          />
        </li>
      </ul>
    </nav>
    <MobileMenu links={links} contact={t.contact} locale={locale} client:load />
  </div>
</header>
