---
import '@fontsource-variable/inter';
import '@/styles/globals.css';
import { ViewTransitions } from 'astro:transitions';
import NavBar from '@/components/NavBar/NavBar.astro';
import { ContactForm} from "@/components/Contact/ContactForm";
import loadTranslations from '@/lib/loadTranslations';
import { ErrorAlert } from '@/components/ErrorAlert'
import { SuccessAlert } from '@/components/SuccessAlert';


interface Props {
  title: string;
  description: string;
  ogImg: string;
}

const { locale } = Astro.params;

const { title, description, ogImg } = Astro.props;

const t = loadTranslations(locale as string);
---

<!doctype html>
<html lang={locale}>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={Astro.url} />
    <meta property='og:image' content={ogImg} />
    
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='bg-background text-foreground'>
    <ErrorAlert  client:load/>
    <SuccessAlert client:load/>
    <ContactForm t={t.contactPopUp} client:load/>
    <NavBar t={t.navBar}/>
    <div class="md:px-16 px-6 xl:px-[15vw]">
      <slot />
    </div>
  </body>
</html>
